/Data/Logs/
/Data/Persistent/EncryptionKey
/Data/Temporary/*
/Web/_Resources/*
/Configuration/PackageStates.php
/Configuration/Settings.yaml
/Configuration/Production/IncludeCachedConfigurations.php
/Configuration/Testing/
/Packages/.Shortcuts
/nbproject/
/Build/Reports/
/Packages/Assetic/
